* {
    font-family: Helvetica, sans-serif;
}

html {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em;
    margin: 0;
}

p {
    text-align: center;
    color: white;
}