* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #0C0C0C;
    padding: 2rem;
    height: 100vh;
}

.navbar {
    text-align: center;
    color: white;
}

h1 {
    font-size: 4em;
}

abbr {
    text-underline-position: 1rem;
}